<div class="centered-content">
    <table class="center table is-bordered is-striped is-narrow is-hoverable">
        <thead>
            <td>Sr.No</td>
            <td>Expected Length</td>
            <td>Expected Diameter</td>
            <td>Completed</td>
            <td>Current</td>
        </thead>
        <tbody>
            <tr *ngFor="let tab of tabular">
                <td>{{ tab.id }}</td>
                <td [ngClass]="{ completed: tab.completed }">
                    {{ tab.expected_length }}m
                </td>
                <td [ngClass]="{ completed: tab.completed }">
                    {{ tab.expected_diameter }}m
                </td>
                <td [ngClass]="{ completed: tab.completed }">
                    {{ tab.completed }}
                </td>
                <td [ngClass]="{ 'has-background-green': tab.completed }">
                    {{ tab.current }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
