<div class="flex-container">
    <div>
        <ul *ngFor="let item of factoryStats">
            <li>
                <p>Is the Factory online? => {{ item.online }}</p>
            </li>
        </ul>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Status</td>
                    <td>RPM</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of machine_tables">
                    <td>{{ item.name }}</td>

                    <td>{{ item.online }}</td>
                    <td>{{ item.rpm }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
