/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bulma/bulma.sass';

$turquoise: #44ddd0;
$green: #45f69e;
html {
    background: linear-gradient(to right top, $turquoise, $green);
}
.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
html,
body {
    height: 100%;
}
