<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar has-background-light">
            <h1 class="has-text-primary title">Options</h1>
            <div class="list-menu">
                <a
                    class="list-menu-item"
                    *ngFor="let list of lists"
                    [routerLink]="['/components', list.name]"
                    routerLinkActive="is-active"
                >
                    <p>{{ list.title }}</p>
                </a>
            </div>
        </div>
        <div class="tasks-list-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
